@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
html,
body {
    padding: 0;
    margin: 0;
    // font-family: ;
    background-color: #eef6ff;
        margin: 0;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}


.hidden {
    display: none;
}

main {
    min-height: 85vh;
}

